<?xml version="1.0"?>
<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>
    <node pkg="gmapping" type="slam_gmapping" name='gmapping_node' output='screen'>
        <param name="base_frame" value="base_footprint"/>
        <!-- <remap from="scan" to="/betabot/laser/scan"/> -->
        <param name="odom_frame" value="odom"/>
        <param name="delta" value="0.01"/>
        <param name="xmin" value="-0.1"/>
        <param name="ymin" value="-0.1"/>
        <param name="xmax" value="0.1"/>
        <param name="ymax" value="0.1"/>
        <param name="maxUrange" value="5"/>
        <param name="map_update_interval" value="0.5"/>
        <param name="linearUpdate" value="0.05"/>
        <param name="angularUpdate" value="0.05"/>
        <param name="temporalUpdate" value="0.1"/>
        <param name="particles" value="30"/>        
    </node>

  <!-- <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="output_frame" value="odom"/>
    <param name="freq" value="100.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="false"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
  </node> -->
</launch>
